<div id="main-content" class="file_manager">
    <form class="form-inline my-2 my-lg-0">
        <input type="search" (ngModelChange)="search(key.value)" #key="ngModel" ngModel
         name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search Photos..." required 
         style="margin-left:90px;margin-bottom:20px;width: 90%;z-index:1;">
     </form>
    <div style="float: left;padding-left:120px;">
        <h4>{{images.length}} images</h4>
        <p>{{searchTerm}}</p>
    </div>
   
    <br><br>
   
    <div class="container" id="main-container" style="overflow-y: auto; height:1000px;">
        <div class="row clearfix">
            <div class="col-lg-3 col-md-4 col-sm-12" *ngFor="let image of images">
                <div class="card">
                    <div class="file">
                        <a href="javascript:void(0);">
                            <div class="hover">
                                <button type="button" class="btn btn-icon btn-danger" (click)="deletePic(image!.id)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                            <div class="image" data-toggle="modal" (click)="onOpenModal(image,'view')">
                                <img src="{{'data:image/jpg;base64,'+ image.picByte}}" alt="img" class="img-fluid">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</div>


<app-footer></app-footer>

<!-- the photoes that is view once clicked -->
<div class="modal fade bd-example-modal-lg" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <h1 style="text-align: center;">{{viewImage.name}}</h1>
        <img src="{{'data:image/jpg;base64,'+ viewImage.picByte}}" alt="" style="height: 100%;width:100%">
    </div>
  </div>
</div>