<div id="main-content" class="file_manager">
    <div style="float: left;padding-left:120px;">
        <h4>{{images.length}} images</h4>
        <p>{{searchTerm}}</p>
    </div>

    <br><br>
    <div class="container" id="main-container" >
        <div class="row clearfix">
            <div class="col-lg-3 col-md-4 col-sm-12" *ngFor="let image of images">
                <div class="card">
                    <div class="file">
                        <a href="javascript:void(0);">
                            <div class="hover">
                                <button type="button" class="btn btn-icon btn-danger" (click)="deletePic(image!.id)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                            <div class="image" data-toggle="modal" (click)="onOpenModal(image,'view')">
                                <img src="{{'data:image/jpg;base64,'+ image.picByte}}" alt="img" class="img-fluid">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</div>


<app-footer></app-footer>

<div class="modal fade bd-example-modal-lg" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <h1 style="text-align: center;">{{viewImage.name}}</h1>
        <img src="{{'data:image/jpg;base64,'+ viewImage.picByte}}" alt="" style="height: 100%;width:100%">
    </div>
  </div>
</div>